body{
	margin: 0px;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.nav{
	background-color:#34495E;
	display: grid;
	padding: 3px 0px 15px 0px;
	align-items: start;
}

.headlogo-div{
	margin-left: 50px;
	/*! display: grid; */
}

.headlogo-img{
	width: 200px;
	height: 40px;
}

.nav-ul{
	list-style-type: none;
	padding: 0px;
	overflow: hidden;
	margin-left: 200px;
}


/* header nav menu links and search bar for desktop laptop and tabs */

@media screen and (min-width: 800px){
.nav-a{
	list-style-type: none;
	text-decoration: none;
	float: left;
	margin-top: 10px;
	margin-left: 30px;
	color: white;
	font-size: 18px;
	font-weight: 400;
} }


.nav-search-form{
    float: right;
	 margin-right: 40px;
}

.nav-search{
	margin-left: 20px;
	margin-top: 8px;
	padding: 6px;
	border-radius: 8px;
	border-style: none;
	outline-color: blue;
	
}

.nav-sub{
	outline-color: green;
	background-color: transparent;
	color: #33F6FF;
	font-size: 14px;
	border-radius: 5px;
	padding: 5px 10px 5px 10px;
	margin: 8px 0px 0px 5px;
	border:1px solid #33F6FF;
	font-weight: 600;
}


.nav-a:hover{
	background-color: #58D68D;
	border-radius: 5px;
	padding: 5px 10px;
}

/* For mobile devices */
@media screen and (max-width:700px){
	.nav {
		display: grid;
		grid-template-columns: 100%;
	}
	
	.nav-ul{
		display: grid;
		margin:0px;
		margin-left: 0;
		text-decoration: none;
	}

	.nav-a{
	list-style-type: none;
	text-decoration: none;
	float: left;
	margin-top: 10px;
	margin-left: 30px;
	color: white;
	font-size: 18px;
	font-weight: 400;
	text-align: center;
	margin-left: 30%;
	}

	.nav-search-form{
		margin-left: 0px;
		margin-top: 10px;
	}
}